* {
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 840px;
    background-color: #2ec2b37d;
    flex-shrink: 0;
}

.textarea {
    margin-top: 205px;
    margin-inline-start: 140px;
    margin-inline-end: 120px;






    >h2 {
        color: hsl(175, 100%, 2%);
        font-family: Brown;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px; /* 125% */
        letter-spacing: -0.8px;
        margin-block-start: 50px;
            }

            >p {
                width: 460px;
                height: 75px;
                text-wrap: wrap;
            color:  	hsl(0, 0%, 45%);
        font-family: Brown;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 156.25% */
        margin-block-start: 20px;
        margin-block-end: 360px;
    }

}


.formarea {
    width: 580px;
    height: 679px;
    margin-inline-end: 140px;
    border-radius: 6px;
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
    margin-block-start: 81px;
    margin-block-end: 80px;


    & p {
        width: 463px;

        color: #000;
       font-family: Sofia Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px; /* 178.571% */
        margin-block-end: 40px;
        margin-inline-start: 58px;
        margin-block-start: 16px;
   >a {
        color:  	hsl(174, 62%, 47%);
        font-family: Sofia Pro;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        text-decoration-line: underline;
    }

    }

}

form {
    width: 580px;
    height: 679px;
    padding-inline: 40px;
    padding-block: 40px;

    .name{
        display: flex;
        flex-direction: row;
        margin-block-end: 30px;
    }
    
    .gender_dob, .weigth_height{
        display: flex;
        flex-direction: row;
        margin-block-end: 30px;
    }
    
    
    .in_box{
        /* margin-inline-start: 40px; */
        margin-inline-end: 24px;
        /* margin-block-start: 40px; */
        >input{
            width: 238px;
            height: 48px;
        }
        Select {
            width: 238px;
            height: 48px;
        }
    
    }
    .out_box {
    
        /* margin-inline-end: 40px; */
        >input{
            width: 238px;
            height: 48px;
        }
        Select {
            width: 238px;
            height: 48px;
        }
    }
    span.detail {
        width: 159px;
        height: 14px;
        color: var(--Text-Headings, #011C34);
    font-family: Sofia Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
    }
    .acti_pass{
         #work {
            margin-block-end: 30px;
        }
    }
    
    #work, #pass{
        width: 500px;
    
    }
    
    #eye {
        position: relative;
        top: 40px; left: 410px;
    }
    #cal {
        position: relative;
        top: 40px; left: 120px;
    }
     
    
    
    #button {
                width: 500px;
                height: 48px;
                background-color: blue;
                
                margin-block-start: 30px; 
                
            }
}
        


@media only screen and (max-width: 500px) {
    .wrapper {
        width: 375px;
        height: 1294px;
        flex-shrink: 0;
        flex-direction: column;
        

    }

    img {
        margin-block-start: 74px;
        margin-inline-start: 24px;
    }
    .textarea {
        width: 375px;
        height: 1294px;
        padding-left: -105px;
        margin: auto;
    
        /* flex-shrink: 0; */
        /* padding: 1.5rem; */
      >h2{
        width: 327px;
        height: 30px;
        margin: auto;
        font-size: 30px;
        line-height: normal;
      }
      
        >p { 
        margin-block-end: 40px;
        margin-block-start: 12px;
        text-wrap: wrap;
        width: 327px;
        height: 50px;
        margin: auto;
    
        font-weight: 300;
    }

}   
.formarea {
    margin-block-start: 40px;
    margin-inline: 24px;
    width: 327px;
    height: 870px;
    flex-shrink: 0;
}
.name{
    margin-inline-start: 16px;
    margin-block-start: 30px;
}
.pass {
    position: initial;
    width: 295px;
    font-weight: 300;
    /* margin-block-start: 48px; */
    margin-inline: 16px;
}
.activity {
    position: initial;
    width: 295px;
    font-weight: 300;
    margin-block-start: 48px;
    margin-inline: 16px;
}

}
 .lname {
    position: relative;
    top: 40px; right: 48px;
    width: 295px;
    font-weight: 300;
    /* margin-block-start: 48px; */
    /* margin-inline: 16px; */
}
.gender{
    position: relative;
    top:;
    width: 295px;
    font-weight: 300;
    margin-block-start: 144px;
    margin-inline: 16px;
}

form {
    width: 327px;
height: 870px;
flex-shrink: 0;

> button {
    width: 295px;
height: 48px;
flex-shrink: 0;
position: initial;
}
p {

}
a{

}

}


}
